doctype
html
  head
    title #{title} - World Cup SoothSayer
    script(type='text/javascript').
     function selectedCountryA()

      { 
        var e = document.getElementById("teamA");
        var strCountry = e.options[e.selectedIndex].value;
        var im1 = document.getElementById("imgA");
        im1.src = strCountry;
      } 
      function selectedCountryB()
      { 
        var e = document.getElementById("teamB");
        var strCountry = e.options[e.selectedIndex].value;
        var im1 = document.getElementById("imgB");
        im1.src = strCountry;
      }

      function Reset()
      {
        document.getElementById("teamA").selectedIndex = "0";
        document.getElementById("teamB").selectedIndex = "0";
      } 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(onload = "Reset()")
   header
     h1 Group Details
   
   .onetooneteam 
     table(class="outertable")
      tr(class="outertablerows")
       each v, index in groupUris
        if(index < 4)
         td(class="colheadstyletd")
          - var groupLabel = alltriples[v]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value
          a(href='/oneonone?group='+v) #{groupLabel}
          table(class="tb1")
           tr
            each r,i in alltriples[v].hasTeamUris
             if(i < 2)
              td(class="rctb1")
               p(class="pararctb1")
               = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value
               - var img = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#UniqueCode'][0].value 
                img(src="/images/"+"#{img}"+".png")
           tr
            each r,i in alltriples[v].hasTeamUris 
             if(i >= 2)
              td(class="rctb1")
               p
               = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value
               - var img = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#UniqueCode'][0].value
               img(src="/images/"+"#{img}"+".png")
      tr(class="outertablerows")
       each v, index in groupUris
        if(index >= 4)
         td(class="colheadstyletd")
          - var groupLabel = alltriples[v]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value
          a(href='/oneonone?group='+v) #{groupLabel}
          table(class="tb1")
           tr
            each r,i in alltriples[v].hasTeamUris
             if(i < 2)
              td(class="rctb1")
               p(class="pararctb1")
               = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value
               - var img = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#UniqueCode'][0].value 
               img(src="/images/"+"#{img}"+".png")
           tr 
            each r,i in alltriples[v].hasTeamUris
             if(i >= 2) 
              td(class="rctb1")
               p
               = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value
               - var img = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#UniqueCode'][0].value
               img(src="/images/"+"#{img}"+".png")
   footer
    p Created by Amandeep Singh and Margi Patel
    p University of Southern California 
