doctype
html
  head
    title #{title} - World Cup SoothSayer
    script(type='text/javascript').
     function selectedCountryA()

      { 
        var e = document.getElementById("teamA");
        var strCountryURI = e.options[e.selectedIndex].value;
        
        var b = document.getElementById("teamB");
        var strCountryBURI = b.options[b.selectedIndex].value;
        var im1 = document.getElementById("imgA");
        
         if(strCountryURI == strCountryBURI ) {
         alert("Select different teams");
         im1.src = "/images/country/question.jpg";
         e.selectedIndex = "0";
         return;
        }
        
        var trp = !{JSON.stringify(alltriples)};
        var r = trp[strCountryURI]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#UniqueCode'][0].value +".jpg";
        
        im1.src = "/images/country/"+r;
      } 
      function selectedCountryB()
      { 
      
        var e = document.getElementById("teamB");
        var strCountryURI = e.options[e.selectedIndex].value;
        var im1 = document.getElementById("imgB");
        
        var a = document.getElementById("teamA");
        var strCountryAURI = a.options[a.selectedIndex].value;
        
        if(strCountryURI == strCountryAURI ) {
         alert("Select different teams");
         im1.src = "/images/country/question.jpg";
         e.selectedIndex = "0";
         return;
        }
        
        
        var trp = !{JSON.stringify(alltriples)};
        var r = trp[strCountryURI]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#UniqueCode'][0].value +".jpg";
        im1.src = "/images/country/"+r;
      
      }

      function Reset()
      {
        document.getElementById("teamA").selectedIndex = "0";
        document.getElementById("teamB").selectedIndex = "0";
      }
      function doPrediction()
      { var teamA = document.getElementById("teamA");
        var teamB = document.getElementById("teamB"); 
        var teamAName = teamA.options[teamA.selectedIndex].value;
        var teamBName = teamB.options[teamB.selectedIndex].value;  
       
      } 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(onload = "Reset()")
   header
     h1 One on One
     
    .onetooneteam
      .dropdownleftlabel Team A
      
      .dropdownleft
       select(id="teamA",onChange = "selectedCountryA()" form="formprediction" name="teamA")
        option(value = "-1") Select
        if(selectedGroupUri != "")
         each r,i in alltriples[selectedGroupUri].hasTeamUris
          - var img = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#highResImage'][0].value
           option(value="#{r}") #{alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value}
        else
         each v, index in groupUris
          each r,i in alltriples[v].hasTeamUris
           - var img = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#highResImage'][0].value
           option(value="#{r}") #{alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value}
      .dropdownrightlabel Team B
      
      .dropdownright
       select(id="teamB" onChange = "selectedCountryB()" form="formprediction" name="teamB")
        option(value = "-1") Select
        if(selectedGroupUri)
         each r,i in alltriples[selectedGroupUri].hasTeamUris
          - var img = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#highResImage'][0].value
           option(value="#{r}") #{alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value}
        else  
         each v, index in groupUris
          each r,i in alltriples[v].hasTeamUris
           - var img = alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#highResImage'][0].value
           option(value="#{r}") #{alltriples[r]['http://www.semanticweb.org/saggu/ontologies/2014/3/FIFAWC#Label'][0].value} 
      versus v/s
     .leftteam
      img(id='imgA',src= '/images/country/question.jpg')
     .rightteam  
      img(id = 'imgB',src='/images/country/question.jpg')
      
     form(name="prediction",class='formprediction',id="formprediction",method="get",action="/predict")
      button(class="buttonprediction", type="submit",form="formprediction").
       Press here
   footer
     p Created by Amandeep Singh and Margi Patel
     p University of Southern California 


 
           